*.vsidx
/Xtramiles - Christian/WeatherApp/bin/WeatherApp.dll
/Xtramiles - Christian/WeatherApp/bin/WeatherApp.pdb
/Xtramiles - Christian/WeatherApp/obj/Debug/WeatherApp.dll
/Xtramiles - Christian/WeatherApp/obj/Debug/WeatherApp.pdb
/Xtramiles - Christian/.vs/Xtramiles - Christian/FileContentIndex/21985f94-5589-43e0-920b-db6d2c3b726c.vsidx
/Xtramiles - Christian/.vs/Xtramiles - Christian/v17/.suo
