*.vsidx
/Xtramiles - Christian/WeatherApp/bin/WeatherApp.dll
/Xtramiles - Christian/WeatherApp/bin/WeatherApp.pdb
/Xtramiles - Christian/WeatherApp/obj/Debug/WeatherApp.dll
/Xtramiles - Christian/WeatherApp/obj/Debug/WeatherApp.pdb
/Xtramiles - Christian/.vs/Xtramiles - Christian/FileContentIndex/21985f94-5589-43e0-920b-db6d2c3b726c.vsidx
/Xtramiles - Christian/.vs/Xtramiles - Christian/v17/.suo
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/build-output/WeatherApp.dll
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/build-output/WeatherApp.UnitTest.pdb
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/build-output/WeatherApp.UnitTest.dll
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/build-output/WeatherApp.pdb
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/coverage-tool-output/WeatherApp.UnitTest.coverage.xml
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/coverage-tool-output/index.html
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/coverage-tool-output/index.htm
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/coverage-tool-output/index-processed.html
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/fine-code-coverage/coverage-tool-output/Cobertura.xml
/Xtramiles - Christian/WeatherApp/obj/Debug/WeatherApp.csproj.CoreCompileInputs.cache
/Xtramiles - Christian/WeatherApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Xtramiles - Christian/WeatherApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/WeatherApp.UnitTest.pdb
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/WeatherApp.UnitTest.dll
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/WeatherApp.pdb
/Xtramiles - Christian/WeatherApp.UnitTest/bin/Debug/WeatherApp.dll
/Xtramiles - Christian/WeatherApp.UnitTest/obj/Debug/WeatherApp.UnitTest.pdb
/Xtramiles - Christian/WeatherApp.UnitTest/obj/Debug/WeatherApp.UnitTest.dll
/Xtramiles - Christian/WeatherApp.UnitTest/obj/Debug/WeatherApp.UnitTest.csproj.AssemblyReference.cache
/Xtramiles - Christian/.vs/Xtramiles - Christian/v17/TestStore/0/000.testlog
